{% extends 'base.html.twig' %}
{% block background %}
{% endblock %}

{% block body %}
    <div class="form-container">
        <div>
            <h2>Annuler la sortie</h2>
            {{ form(formAnnulation) }}
        </div>
    </div>
{% endblock %}

{% block title %}
Annulation
{% endblock %}

